@import url(http://fonts.useso.com/css?family=Roboto|Raleway|Noto+Sans:400,400i,700,700i|Oswald:300,400,700);
@import url(myfont/iconfont.css);

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}

body {
  background: rgb(204,204,204); 
  padding-left: 0.5em;
  padding-right: 0.5em;
}

page {
  background: white;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"] {  
  max-width: 21cm;
  max-height: 29.7cm; 
  /*height: 29.7cm;*/
}

page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}

page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}

page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;  
}

page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}

page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;  
}

#cv {
	margin-top: 10px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*padding: 1.6em;*/
	/*border-radius: 1px;*/
	/*width: 90%;*/
	/*text-align: center;*/
	/*box-shadow: 0 0 10px #555;*/
	/*-webkit-box-shadow: 0 0 10px #555;*/
}

[class*="am-icon-"]::before {
	font-family: 'iconfont' !important;
	font-style: normal;
	color: rgb(9, 148, 187);
	content: "\e600";
	font-size: 1.447rem;
	vertical-align: middle;
}
.left {
	background-color: rgb(227, 227, 227);
	height: 29.7cm;
	padding-top: 4.5rem;
	padding-bottom: 1.5rem;
	padding-left: 3rem;
}

.right {
	background-color: rgb(177, 177, 177);
	height: 29.7cm;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.photoOut {
	border-radius: 2px;
	/*display: inline-block;
	max-width: 100%;
	height: auto;*/
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 2%;
	margin-bottom: 5%;
	padding: 2px;
	line-height: 1.6;
	background-color: rgb(197, 197, 197);;
	border: 3px solid rgb(197, 197, 197);
	/*border-radius: 0;*/
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.icon-doubleright:before { content: "\e600"; }

.photoIn {
	/*border-radius: 2px;*/
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 2px;
	line-height: 1.6;
	background-color: rgb(177, 177, 177);;
	border: 3px solid rgb(177, 177, 177);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.me-name {
	font-family: 'Oswald', 'Consolas', "微软雅黑";
	font-weight: 600;
	font-size: 2.8rem;
}

.me-title {
	font-family: 'Raleway', 'Consolas', "微软雅黑";
	color: rgb(9, 148, 187);
	font-weight: 200;
	font-size: 1.2em;
	margin-top: -23px;
}

.me-desc {
	font-family: 'Raleway', 'Consolas', "微软雅黑";
	font-size: 0.8em;
	margin-top: -12px;
}

hr {
	height: 0;
	border-top: 2px solid rgb(177, 177, 177);
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin-top: -2px;
	width: 105%;
}

[class*="am-icon-"]:last-child {
	/*font-family: 'Oswald', 'Consolas', "微软雅黑";
	font-weight: 400;
	font-size: 1.8rem;*/
}

[class*="am-icon-"]>span {
	font-family: 'Oswald', 'Consolas', "微软雅黑";
	font-weight: 400;
	font-size: 1.46rem;
	vertical-align: middle;
}

.m-cv-m-b-10 {
	margin-bottom: -10px;
}

.p-cv-m-b-5 {
	margin-bottom: 5px;
}

.duration {
	font-size: 70%;
	color: rgb(75, 75, 75);
}

.m-cv-m-b-e-7 {
	margin-block-end: -7px;
}

.item-name {
	font-family: 'Raleway', 'Consolas', "微软雅黑";
	color: rgb(9, 148, 187);
	font-weight: 600;
	font-size: 1.34rem;
}

.item-title {
	font-family: 'Raleway', 'Consolas', "微软雅黑";
	font-weight: 700;
	font-size: 1.11rem;
	margin-top: -20px;
}

.item-desc {
	font-family: 'Raleway', 'Consolas', "微软雅黑";
	font-size: 0.8em;
	margin-top: -12px;
}
